*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
    --grid-cols: 1;
    --grid-rows: 1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-light)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.head {
    margin-top: 3rem;
    color: var(--primary-dark);
    font-size: 3rem;
    gap: 2rem;
}

.head .description {
    font-style: italic;
    background: linear-gradient(to right, #2196f1, #f33870);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .buttons {
    flex-direction: row;
    width: 50vw;
    max-width: 70rem;
}

.container .size {
    width: 50vw;
    max-width: 70rem;
}

button,
input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 0.5rem;
}

button {
    border: 0.2rem solid var(--primary-dark);
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

button:active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button:hover,
input:hover {
    transform: scale(1.01);
}

.size p {
    font-size: 2rem;
}

.grid {
    height: 60vh;
    max-height: 60rem;
    width: 50vw;
    max-width: 70rem;
    border: 0.2rem solid var(--primary-dark);
    border-radius: 0.5rem;
    background-color: var(--secondary-light);
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}